@import "../../theme/colors.scss";

.radio-container {
	display: flex;
	flex-wrap: wrap;
	.option {
		padding: 10px 10px 10px 0px;
		color: white;
	}
}
@media (max-width: 700px) and (min-width: 600px) {
	.questionnaire .radio-input {
		width: 150px;
	}
}
@media (max-width: 900px) and (min-width: 700px) {
	.questionnaire .radio-input {
		width: 200px;
	}
}
.radio-input {
	background: $color-dark;
	border: 1px solid $field-border !important;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 8px 2px 8px 5px;
	display: flex;
	flex-wrap: wrap;
	font-size: 15px !important;
}

.MuiRadio-colorSecondary.Mui-checked {
	color: #e14eca;
}
.MuiFormGroup-root {
	display: flex;
	flex-direction: row;
}
.MuiRadio-root {
	color: #ffffff;
}
