.search-by {
	display: flex;
	//overflow: auto;
	align-items: center;
	//background-color: black;
	justify-content: space-around;
	padding: 10px;
	.search-input-container {
		width: calc(100vw - 800px)!important;
		.MuiTextField-root {
			width: calc(100vw - 800px);
			min-width: 300px;
		}
	}
	.search-by-button-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media screen and (max-width: 1280px) {
	.search-by {
		display: flex;
	}
	.search-input-container {
		width: calc(100vw - 150px) !important;
	}
	.search-by-button-container {
		display: flex;
		//padding-top: 20px;
	}
}
@media (max-width: 700px) and (min-width: 500px) {
	.search-by-button-container {
		.button-style {
			width: 100px !important;
		}
	}
}
@media screen and (max-width: 500px) {
	// .search-by {
	// 	display: flex;
	// 	flex-direction: column;
	// }
	.search-input-container {
		width: 100vw !important;
		margin-right: 20px;
		// margin: auto;
	}
	.search-by-button-container {
		.button-style {
			width: 100px !important;
		}
	}
	// .search-by-button-container {
	// 	display: flex;
	// 	flex-direction: row;
	// 	padding-top: 20px;linear-gradient(
//229.34deg, rgb(0, 242, 195) 8.35%, rgb(0, 152, 240) 89.61%)
	// 	.button-style {
	// 		width: 100px !important;
	// 	}
	// }
}
