@import "../../theme/colors.scss";

.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding: 1.25rem;
  margin: 25px auto;
  background: $color-secondary;
  width: 350px;
}
@media screen and (max-width: 350px) {
  .card {
    width: 270px;
  }
}
