@import "../../theme/colors.scss";

.table-container {
	margin: 20px 0px;
	width: 100%;
	.MuiPaper-root {
		color: $color-secondary;
		background: $color-dark;
		text-align: left;
		// set value
		.makeStyles-root-51 {
			width: 150px;
		}
	}
	.MuiPaper-elevation1 {
		box-shadow: none;
	}
	.MuiTableCell-head {
		color: $color-secondary;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.MuiTableCell-body {
		color: $color-secondary;
	}
	.MuiCheckbox-root {
		color: $color-secondary;
	}
	.MuiTableCell-root {
		border-bottom: 1px solid $color-table-border;
	}
	.MuiTableSortLabel-root.MuiTableSortLabel-active {
		color: $color-secondary;
	}
	.MuiTableSortLabel-root:hover {
		color: $color-secondary;
	}
	.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
		.MuiTableSortLabel-icon {
		color: $color-secondary;
	}
	.MuiTablePagination-root {
		color: $color-secondary;
	}
	.MuiIconButton-root.Mui-disabled {
		color: $color-secondary;
	}
	.MuiSelect-icon {
		color: $color-secondary;
	}
	.setBorder {
		border-top: 1px solid rgba(227, 227, 227, 0.1);
	}
	.button-container {
		padding-left: 35%;
		margin-right: 250px;
	}
	.videoCallButton {
		width: 100% !important;
		margin-right: 3px;
		margin-left: 3px;
	}
}
