@import "./theme/colors.scss";

#root {
  min-height: 100vh;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: semi-bold;
  font-weight: 600;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: semi-bold;
  font-weight: 800;
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: extra-bold;
  font-weight: 900;
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
}
body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-dark;
}
code {
  font-family: Poppins;
}
.form-footer-txt {
  text-decoration: none;
  color: $color-primary;
  font-size: 0.8rem;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiInput-underline:before {
  border-bottom: 0px solid $color-secondary !important;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.form-card {
  padding: 0px !important;
}

.padding-lrb-20 {
  padding: 0px 20px 20px 20px;
}

.card-style {
  width: 100%;
}
.flex-div {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin-top: 50px;
  padding: 15px;
}
.wrapped-title {
  max-width: min-content !important;
  font-size: 45px !important;
}
.MuiFormControl-marginNormal {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $color-secondary;
  -webkit-box-shadow: 0 0 0px 1000px $color-dark inset;
  box-shadow: 0 0 0px 1000px $color-dark inset;
  transition: background-color 5000s ease-in-out 0s;
}

.nursePageContainer {
  padding: 0 15px;
  color: white;
}
.patientContainer {
  padding: 0 15px;
}
.content {
  text-align: center;
  margin: auto;
  //margin-left: 5%;
  .MuiTypography-h3 {
    font-size: 32px;
  }
}

.patientchart {
  max-height: 80%;
  overflow: auto;
  background: #1e2024;
  border-radius: 5px;
  margin: auto 10vw;
  padding: 10px 25px;
}

.button-container {
  //display: flex;
  //margin-top: 10px;
  .btn {
    width: 140px !important;
    margin-top: 34px;
  }
}

.MuiDrawer-docked {
  flex: 0 0 auto;
  display: table;
}

.billing .card-btn {
  width: 270px !important;
  background: linear-gradient(
    229.34deg,
    $modal-btn-gradient1 8.35%,
    $modal-btn-gradient2 89.61%
  );
  border-radius: 6px;
}
.card-form {
  .MuiTypography-gutterBottom {
    color: $color-secondary;
  }
  #pill-input .MuiInputBase-root {
    border: 1px solid $field-border !important;
  }
}

$i: 0;
@while $i<=50 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
  $i: $i + 1;
}

$i: 0;
@while $i<=20 {
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  $i: $i + 1;
}

$i: 0;
@while $i<=100 {
  .width-#{$i} {
    width: #{$i}#{"%"} !important;
  }
  $i: $i + 10;
}

// @media (max-width: 800px) and (min-width: 600px) {
// 	.credit-card {
// 		position: absolute;
// 		bottom: 35%;
// 		right: calc(4% - 0rem) !important;
// 	}

// 	.billing .card-btn {
// 		position: absolute;
// 		right: calc(5% - 0rem) !important;
// 		bottom: 4%;
// 	}
// }

@media screen and (min-width: 600px) {
  .root-form-container {
    min-height: 100vh;
  }
  .container {
    position: relative;
    bottom: 50px;
    margin-top: 40px;
  }
  .SignUp-credit-card {
    position: absolute;
    bottom: 55%;
    right: calc(12% - 4rem);
  }
  .billing .card-btn {
    position: absolute;
    right: calc(5% - 0.1rem) !important;
    bottom: 48% !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-height: 100vh;
  }
  .app-logo {
    width: 224px !important;
  }
  .SignUp-credit-card .rccs__card {
    height: 182.873px;
    margin: 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.4s linear;
    width: 270px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    text-align: center;
    margin-top: 30px;
  }
}
.requestCall {
  display: flex;
  justify-content: center;
}
.notifications-component {
  top: 0;
}
.videoCallBox {
  background: #1e2024;
  color: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 75%;
  display: flex;
  justify-content: center;
}

.MuiInputAdornment-positionEnd {
  margin-right: 5px;
  cursor: pointer;
}
.m-10 {
  margin: 10px 0px;
}
.m-top-5 {
  margin-top: 5px;
}
.p-tb-10 {
  padding: 10px 0px;
  text-align: center;
}
.hide {
  visibility: hidden;
}
.status-btn {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  width: fit-content;
}
.pending {
  background: linear-gradient(229.34deg, #ff9800eb 60.35%, #ffeb3bc2 99%);
}
.resolved {
  background: linear-gradient(229.34deg, #079607 50.35%, #8bc34a 80%);
}
.assigned{
  background: linear-gradient(229.34deg, #790796 50.35%, #b54ac3 80%);
}
.ongoing{
  background: linear-gradient(229.34deg, #07967e 50.35%, #4ac3b3 80%);
}
.rejected {
  background: linear-gradient(228.34deg, #ea3c03 25.35%, #f77e75e0 90%);
}
.accepted {
  background: linear-gradient(228.34deg, #a883ea 25.35%, #2196f3 90%);
}
.full-container {
  width: 100%;
  color: white;
}

input[name="fileInfo"] {
  padding-left: 20px;
}
