@import "../../theme/colors.scss";

.call-card {
	background: linear-gradient(
		229.34deg,
		rgb(0, 242, 195) 8.35%,
		rgb(0, 152, 240) 89.61%
	);
	width: 180px;
	color: $color-secondary;
	border-radius: 6px;
	padding: 10px 20px;
}
.content-arrange {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}
.heading {
	text-align: start;
}
